:root
{
	/* Colors */
	--MainTitleColor: 237, 113, 11;
	
	--Background: 40, 40, 45;
	--BackgroundDark: 28, 28, 33;
	
	--Color: 224, 224, 224;
	--ColorSecondary: 180, 180, 180;
	--ColorDark: 110, 110, 110;
	--ColorDarkSecondary: 90, 90, 90;
	
	--ScrollbarColor: 37, 37, 42;
	--ScrollbarThumbColor: 100, 100, 109;
	--ScrollbarThumbColorHover: 120, 120, 129;
	
	--BorderColor: 58, 58, 65;
}



* { box-sizing: border-box; }



body
{
	background: rgb(var(--Background));
	color: rgb(var(--Color));
	margin: 0;
	font-family: sans-serif;
	line-height: 1.5em;
}



a
{
	color: rgb(123, 176, 245);
	text-decoration: none;
}



a:hover
{
	text-decoration: underline;
}



::-webkit-scrollbar
{
	width: 16px;
	height: 16px;
	background: rgb(var(--ScrollbarColor));
}



::-webkit-scrollbar-corner
{
	background: rgb(var(--ScrollbarColor));
}



::-webkit-scrollbar-thumb
{
	background: rgb(var(--ScrollbarThumbColor));
	border-radius: 8px;
	border: 4px solid rgb(var(--ScrollbarColor));
}



::-webkit-scrollbar-thumb:hover
{
	background: rgb(var(--ScrollbarThumbColorHover));
}



#Header
{
	background: linear-gradient(90deg, rgb(var(--BackgroundDark)) 15%, #000000A0), center url(Images/Background.png);
	border-bottom: 1px solid rgb(var(--BorderColor));
}



#Header td
{
	padding: 0;
}



#Header h1
{
	margin: 0;
    color: rgb(var(--MainTitleColor));
}



#Header img
{
	user-select: none;
	pointer-events: none;
	margin-right: .5em;
}



#Header p
{
	margin: 0;
	color: rgb(var(--ColorSecondary));
}



.Container
{
	max-width: 1696px;
	padding: 3em 2em;
	margin: 0 auto;
}



#Main h1:first-child
{
	margin-top: 0;
}



#Main h1
{
	line-height: 1em;
	margin: 1em 0;
    padding-bottom: .5em;
    text-align: center;
    border-bottom: 1px solid rgb(var(--BorderColor));
}



.Todo
{
	border: 1px solid rgba(128, 255, 128, 12%);
	background: rgba(128, 255, 128, 6%);
    padding: 6px;
    border-radius: 6px;
}



.Todo:before
{
	content: 'Todo: ';
	color: rgb(128, 255, 128, 50%);
}



#Projects
{
	display: grid;
	gap: 2em;
	column-gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(clamp((100% / 2) - 1rem, 31rem, 100%), 1fr));
}



#Projects > div
{
	border: 1px solid rgb(var(--BorderColor));
    border-radius: 8px;
    min-height: 416px;
	overflow: hidden;
	position: relative;
	display: flex;
    align-items: flex-end;
}



#Projects > div > img
{
	opacity: .2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: opacity .5s;
	user-select: none;
	pointer-events: none;
}



#Projects > div .Description
{
	background: rgba(var(--BackgroundDark), .85);
	padding: 0 0 1.5em 1.75em;
	margin: .75em 1.75em 0 0;
	box-shadow: 0px 0px 48px 64px rgba(var(--BackgroundDark), .85);
	max-width: 640px;
	display: flex;
    flex-direction: column;
	gap: 1.2em;
}



#Projects > div:hover > img
{
	opacity: .3;
}



#Projects > div .Status
{
	position: absolute;
	top: 1em;
	right: 1em;
	background: rgb(var(--Background));
	padding: 8px;
	border: 1px solid rgb(var(--BorderColor));
	border-radius: 6px;
	opacity: .85;
	font-weight: bold;
}



.Status.Development
{
	color: rgb(var(--MainTitleColor));
}



.Status.OnHold,
.Status.Discontinued
{
	color: rgb(var(--ColorDark));
}



.Status.Development:before
{
	content: 'In Development';
}



.Status.OnHold:before
{
	content: 'On Hold';
}



.Status.Discontinued:before
{
	content: 'Discontinued';
}



#Main #Projects > div h1
{
	border: 0;
	padding: 0;
	margin: 0;
	display: flex;
    align-items: flex-start;
    gap: .25em;
	text-align: left;
}



#Main #Projects > div p
{
	margin: 0;
	color: rgb(var(--ColorSecondary));
}



#Main #Projects > div h1 > img
{
	user-select: none;
	pointer-events: none;
}



.Buttons
{
	display: flex;
	gap: .5em;
}



.Button
{
	background: rgb(var(--Background));
	padding: 8px;
	border: 1px solid rgb(var(--BorderColor));
	border-radius: 6px;
	opacity: .85;
	font-weight: bold;
	width: fit-content;
	color: white;
}